body {
    background-color: #fffcf4;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
}

.input-fields {
    margin-bottom: 20px;
}

.uppercase-input {
    text-transform: uppercase;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none !important;
    border-radius: 5px;
    background-color: #ffb900 !important;
    color: #fff;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e89c00 !important;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) td {
    background-color: #f2f2f2;
}

.result {
    padding: 10px;
    border: 2px solid #ffb900;
    border-radius: 5px;
    background-color: #fff8e6;
}

.table-responsive {
    overflow-x: auto;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prime {
    display: flex;
    justify-content: space-between;
}
